<div class="header">
    <a href="/miniatures/{{miniature.id}}">Back</a>
    <h1>Edit Project:</h1>

</div>

<form action="/miniatures/{{miniature.id}}?_method=put" method="post">

    <label>Title:</label>
    <input type="text" name="title" value="{{miniature.title}}">
    <label>Image:</label>
    <input type="text" name="image" value="{{miniature.image}}">
    <label>Made by:</label>
    <input type="text" name="mfr" value="{{miniature.mfr}}">
    <label>Game:</label>
    <input type="text" name="game" value="{{miniature.game}}">

    <label>Notes:</label>
    <textarea type="text" name="notes">{{miniature.notes}}</textarea>

    <input type="submit" value="Update Project">

</form>

<form action="/miniatures/{{miniature.id}}?_method=delete" method="post">
    <input type="submit" value="Delete Project">
</form>