<h2>Edit Paint:</h2>

<form action="/paints/{{paint.id}}?_method=put" method="post">

    <label>Paint Name:</label>
    <textarea type="text" name="name">{{paint.name}}</textarea>
    <label>Made by:</label>
    <textarea type="text" name="mfr">{{paint.mfr}}</textarea>
    <label>Color:</label>
    <textarea type="text" name="color">{{paint.color}}</textarea>

    <input type="submit" value="Update">

</form>

<form action="/paints/{{paint.id}}?_method=delete" method="post">
    <input type="submit" value="Delete">
</form>

<button><a href="/paints/{{paint.id}}">Cancel</a></button>