<p>
    {{miniature.title}}
</p>

<p>
    {{paint.name}}
</p>

<form action="/miniatures/{{miniature.id}}/{{paint.id}}?_method=put" method="post">
    <input type="submit" value="{{this.name}}">
</form>