<div class="header">
    <a href="/paints/">Paints</a>
    <h1>{{name}}</h1>
    <a href="/paints/edit/{{id}}">Edit</a>
</div>

<p>{{mfr}}</p>
<p>{{color}}</p>

<div class="notes">
    <label>Notes:</label>
    <p>{{notes}}</p>
</div>