<div class="header">
    <button><a href="/paints/">Paints</a></button>
    <h1>{{name}}</h1>
    <button><a href="/paints/edit/{{id}}">Edit</a></button>
</div>

<p>{{mfr}}</p>
<p>{{color}}</p>

<div class="notes">
    <label>Notes:</label>
    {{notes}}
</div>